version: '2.1'
orbs:
  node: circleci/node@5.1.0
jobs:
  test:
    executor:
      name: node/default
      tag: '16'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: yarn coverage
          name: Run YARN tests
workflows:
  test_my_app:
    jobs:
      - test
      - node/test:
          test-results-path: coverage/clover.xml
